*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-primary: #2e3641;
  --color-disabled: #9eb2c0;
  --color-stripe: #dc9581;
  --color-white: #fff;
  --page-bg: #e9f0f4;
  --success: #97ab32;
  --failure: #cd1010;
  --todo-bg: var(--color-white);
  --todo-border: 1px solid var(--color-disabled);
  --todo-header-bg: var(--color-primary);
  --todo-header-c: var(--color-white);
  --todo-row-bg: var(--color-white);
  --todo-row-c: var(--color-primary);
  --stripe-border: 1px solid var(--color-stripe);
  --gap-sm: .5rem;
  --gap-md: 1rem;
  --gap-lg: 3rem;
  --todo-stripe-gap: .5rem;
  --todo-row-gap: 1rem;
  --todo-square-btn-size: 1rem;
  --quick: .1s;
}

body {
  margin: 0;
  padding: var(--gap-lg);
  width: 100%;
  min-height: 100vh;
  height: auto;
  font-size: var(--global-fs);
  font-family: "Lato", sans-serif;
  background-color: var(--page-bg);
  display: flex;
  align-items: center;
  justify-content: center;
}

.__todo_container {
  width: auto;
  min-width: 256px;
  max-width: 100%;
  background-color: var(--todo-bg);
  border: var(--todo-border);
}
.__todo_row {
  position: relative;
  --margin-size: calc(var(--todo-row-gap) * 2 + var(--todo-square-btn-size));
  display: grid;
  grid-template-columns: [margin] var(--margin-size) [stripe] var(--todo-stripe-gap) [content] auto [trash] var(--margin-size);
}
.__todo_row::before {
  content: "";
  position: absolute;
  width: var(--todo-stripe-gap);
  height: 100%;
  left: calc(var(--todo-square-btn-size) + var(--todo-row-gap) * 2);
  top: 0;
  border-left: var(--stripe-border);
  border-right: var(--stripe-border);
}
.__todo_row .__todo_content {
  grid-area: content;
  padding: var(--todo-row-gap);
  width: 100%;
}
.__todo_header {
  background-color: var(--todo-header-bg);
  color: var(--todo-header-c);
}
.__todo_entry {
  border-bottom: var(--todo-border);
}
.__todo_entry.__todo_entry_done .__todo_content {
  color: var(--color-disabled);
  text-decoration: line-through;
}
.__todo_entry.__todo_entry_done .__todo_del {
  color: var(--color-disabled);
}
.__todo_entry .__todo_checkbox {
  grid-area: margin;
}
.__todo_entry .__todo_del {
  grid-area: trash;
  transition: transform var(--quick) ease-in-out, color var(--quick) ease-in-out;
}
.__todo_entry .__todo_del:hover {
  color: var(--failure);
}
.__todo_new-entry .__todo_add {
  grid-area: margin;
  transition: transform var(--quick) ease-in-out, color var(--quick) ease-in-out;
}
.__todo_new-entry .__todo_add:hover {
  color: var(--success);
}
.__todo_new-entry .__todo_add_content {
  font-family: inherit;
  font-size: inherit;
  border: none;
  outline: none;
  grid-column-end: -1;
}
.__todo_entry .__todo_checkbox,
.__todo_entry .__todo_icon_btn, .__todo_new-entry .__todo_checkbox,
.__todo_new-entry .__todo_icon_btn {
  width: var(--todo-square-btn-size);
  height: var(--todo-square-btn-size);
  flex-shrink: 0;
  align-self: start;
  justify-self: center;
  margin-top: var(--todo-row-gap);
}
.__todo_list {
  list-style: none;
}
.__todo_icon_btn {
  border: none;
  color: var(--color-primary);
  background: transparent;
  cursor: pointer;
}
.__todo_icon_btn svg {
  transform: scale(1.25);
  transition: transform var(--quick) ease-in-out;
}
.__todo_icon_btn:hover svg {
  transform: scale(1.5);
}
.__todo_del_all {
  position: absolute;
  top: var(--gap-md);
  right: var(--gap-md);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--gap-sm);
  transition: transform var(--quick) ease-in-out, color var(--quick) ease-in-out;
}
.__todo_del_all:hover {
  color: var(--failure);
}
.__todo_del_all svg {
  width: var(--todo-square-btn-size);
  height: var(--todo-square-btn-size);
}

.__custom_checkbox {
  position: relative;
}
.__custom_checkbox:hover::before {
  transform: scale(1.25);
}
.__custom_checkbox:hover .__custom_checkbox_check {
  transform: scale(1.5);
}
.__custom_checkbox::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;
  border: var(--todo-border);
  border-radius: 0.1em;
  transition: transform var(--quick) ease-in-out;
}
.__custom_checkbox input[type=checkbox] {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
  pointer-events: all;
}
.__custom_checkbox input[type=checkbox]:checked + .__custom_checkbox_check {
  visibility: visible;
}
.__custom_checkbox_check {
  position: absolute;
  visibility: hidden;
  pointer-events: none;
  color: var(--success);
  transform: scale(1.25);
  transition: transform var(--quick) ease-in-out;
}

[hidden] {
  display: none;
}

.failure {
  color: var(--failure);
}

.success {
  color: var(--success);
}